@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color:#000000;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.button {
  background-color: #756157;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 50px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.button-blue {
  background-color: #82B3D3;
}

.main-index {
  background-image: url(../images/sedona-hero.png);
  background-size: 1200px 485px;
  background-repeat: no-repeat;
  text-align: center;
}

.section-heading-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-heading-text {
  font-size: 22px;
  line-height: 26px;
}

.advantages-item:first-child,
.advantages-item:last-child {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-item:nth-child(2),
.advantages-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title,
.recommendations-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.recommendations-item:first-child,
.recommendations-item:last-child {
  background-color: rgba(131, 179, 211, 0.12);
}

.subscription {
  background-image: url(../images/subscribe-background.jpg);
  background-size: 1200px 415px;
  background-repeat: no-repeat;
  height: 415px;
}
